.chat__bottom
  .container
    =form_for [@group,@message] do |f|
      = f.text_field :body,placeholder:"type a message",class:"chat__bottom--message"
      = f.label :image,class:"chat__bottom--message--icon fa fa-image" do
        = f.file_field :image,style:"display:none"
      = f.submit "Send",class:"chat__bottom--submit"
