%div.sidebar
  %div.sidebar__top
    %div.sidebar__top__left
      ryo5
    %div.sidebar__top__right
      =link_to "#" do
        %i.fa.fa-edit
        %i.fa.fa-cog
  %div.sidebar__bottom
    %div.sidebar__bottom__group
      abcd
    %div.sidebar__bottom__message
      ううう
    %div.sidebar__bottom__group
      abcd
    %div.sidebar__bottom__message
      ううう
    %div.sidebar__bottom__group
      abcd
    %div.sidebar__bottom__message
      ううう
      