.sidebar
  .sidebar__top
    .sidebar__top--left
      ryo5
    .sidebar__top--right
      =link_to "#" do
        .i.fa.fa-edit
        .i.fa.fa-cog
  .sidebar__bottom
    .sidebar__bottom--group
      abcd
    .sidebar__bottom--message
      ううう
    .sidebar__bottom--group
      abcd
    .sidebar__bottom--message
      ううう
    .sidebar__bottom--group
      abcd
    .sidebar__bottom--message
      ううう
      