%div.contents
  %div.notice
    チャットグループが作成されました。
  %div.chat.clearfix
    %div.chat__top.clearfix
      %div.container
        %div.chat__top__left
          %div.chat__top__left__group
            Sampleグループ
          %div.chat__top__left__members
            Member: ryo5
        %div.chat__top__right
          Edit

    %div.main__middle
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど
  
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど
    
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど

    %div.main__bottom.clearfix
      %div.main__bottom__form-content
        %form
          %input{type:"text",placeholder:"type a messsage",style:"width:800px;height:50px;"}
      %div.main__bottom__submit-btn
        %p
          Send

  %div.sidebar.clearfix
    %div.sidebar__top
      %div.sidebar__top__left
        ryo5
      %div.sidebar__top__right
        %a{href:"#"}
          %i.fa.fa-edit
          %i.fa.fa-cog
    %div.sidebar__bottom
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
