%div.contents
  %div.notice
    チャットグループが作成されました。
  %div.main.clearfix
    %div.main__top.clearfix
      %div.main__top__left
        %div.main__top__left__group
          Sampleグループ
        %div.main__top__left__member
          Member: ryo5
      %div.main__top__right
        Edit

    %div.main__middle
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど
  
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど
    
      %div.main__middle__message.clearfix
        %div.main__middle__message__name
          ryo1
        %div.main__middle__message__datetime
          2017/05/31 17:37:36
      %div.main__middle__body
        なるほど

    %div.main__bottom
      あああ

  %div.sidebar.clearfix
    %div.sidebar__top
      %div.sidebar__top__left
        ryo5
      %div.sidebar__top__right
        %a{href:"#"}
          %i.fa.fa-edit
          %i.fa.fa-cog
    %div.sidebar__bottom
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
      %div.sidebar__bottom__group
        abcd
      %div.sidebar__bottom__message
        ううう
