.chat{
  float: left;
  width: 1065px;
  @include clearfix;
  &__top{
    border-bottom: 1px solid #eeeeee;
    @include clearfix;
    &--left{
        float: left;
        margin-top: 35px;
        &--group{
            font-size: 20px;
            color: #333333;
            margin-bottom: 15px;
            }
        &--members{
            font-size: 12px;
            color: $light_color;
            margin-bottom: 10px;
            }
       }
    &--right{
        height: 40px;
        line-height: 40px;
        float: right;
        border: 2px solid $base_color;
        color: $base_color;
        margin-top: 28px;
        padding: 0 20px;
        text-decoration: none;
    }
  }

  &__middle{
    height: 450px;
    padding-top: 46px;
    background: #f0f0f0;
    overflow: scroll;
    &--message{
      line-height: 20px;
      padding-bottom: 10px;
      @include clearfix;
      &--member{
          float: left;
          margin-right: 10px;
          font-size: 16px;
          font-weight: bold;
          color: $chat_color;
      }
      &--datetime{
          float: left;
          font-size: 12px;
          color: $light_color;
      }
    }
    &--body{
        color: $chat_color;
        font-size: 14px;
        padding-bottom: 40px;
      }
  }

     &__bottom{
        background: #e0e0e0;
        height: 90px;
        position:relative;
        float:left;
        @include clearfix;
        width: 1065px;
        &--message{
          width: 840px;
          background: $font_white;
          margin-left: 10px;
          margin-top: 20px;
          height: 50px;
          padding-left: 10px;
          float:left;
        }
        .fa{
        line-height: 90px;
        font-size: 16px;
        margin: 40px 0px;
        margin: 0 auto;
        cursor: pointer;
        position:absolute;
        left:870px;
      }
        &--submit{
          background: $base_color;
          height: 50px;
          width: 100px;
          margin: 20px 0 0 15px;
          text-align: center;
          text-decoration: none;
          color: $font_white;
          border: none;
        }
     }
}

.container{
  padding: 0 40px;
}
