.chat{
  float:left;
  @include clearfix;
  &__top{
    border-bottom:1px solid #eeeeee;
    @include clearfix;
    &--left{
        float:left;
        margin-top:35px;
        &--group{
            font-size:20px;
            color:#333333;
            margin-bottom:15px;
            }
        &--members{
            font-size:12px;
            color:$light_color;
            margin-bottom:10px;
            }
       }
    &--right{
        height:40px;
        line-height:40px;
        float:right;
        border:2px solid $base_color;
        color:$base_color;
        margin-top:28px;
        padding:0 20px;
        text-decoration:none;
    }
  }

  &__middle{
    height:420px;
    padding-top:46px;
    background:#f0f0f0;
    &--message{
      line-height: 20px;
      padding-bottom: 10px;
      @include clearfix;
      &--member{
          float:left;
          margin-right:10px;
          font-size:16px;
          font-weight:bold;
          color: $chat_color;
      }
      &--datetime{
          float:left;
          font-size:12px;
          color:$light_color;
      }
    }
    &--body{
        color:$chat_color;
        font-size: 14px;
        padding-bottom:40px;
      }
  }

  &__bottom{
    background: #e0e0e0;
    height:90px;
    @include clearfix;
    &--form{
        padding:20px 0px;
        margin:auto;
        float:left;
        &--message{
          background: $font_white;
          width:870px;
          height:50px;
          @include clearfix;
          &--left{
            padding-left:10px;
            float:left;
            line-height:50px;
            color:$chat_color;
            font-size: 16px;
          }
          &--right{
            float:right;
            padding-right:10px;
            line-height:50px;
          }
        }
    }
    &--submit-btn{
        float:right;
        background-color:$base_color;
        height:50px;
        width:100px;
        margin:20px 0 10px 15px;
        text-align: center;
        text-decoration:none;
        color:#fff;
        line-height:50px;
    }
  }
}

.container{
  padding:0 40px;
}
