.sidebar{
  width:300px;
  float:left;
  &__top{
    background:#253141;
    height:63px;
    padding:45px 20px 0 20px;
    color:#ffffff;
    border-bottom:1px solid black;
    &__left{
      font-size: 15px;
      font-weight: bold;
    }
  }
  &__bottom{
      height:545px;
      background: #2f3151;
      padding:20px 20px 0 20px;
      color:#ffffff;
      &__group{
          font-size:15px;
          padding-bottom:5px;
      }
      &__message{
          font-size:11px;
          padding-bottom: 40px;
      }
  }
}